#[include macros.cfg]
#[include neopixels.cfg]
#[include nozzle_scrub.cfg]
#[include bedfans.cfg]
[include steppers.cfg]
#####################################################################
#	Fan
#####################################################################

[fan]
pin: EBBCan: PA1
kick_start_time: 0.25
cycle_time: 0.15
off_below: 0.10

[heater_fan hotend_fan]
pin: EBBCan: PA0
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0

[heater_fan EBB_fan] 
#Hot End Fan Fan PWM 
pin: !EBBCan: PB14
cycle_time: 0.00004
kick_start_time: 0.5 
off_below: 0.0
tachometer_pin: ^EBBCan: PB15 
tachometer_ppr: 2
tachometer_poll_interval: 0.0005
heater: extruder
heater_temp: 50.0
##--------------------------------------------------------------------


#####################################################################
#	Homing and Gantry Adjustment Routines
#####################################################################

[idle_timeout]
timeout: 3600


#####################################################################
#	Save Z Home
#####################################################################

#[safe_z_home]
#home_xy_position: 150,150 # Change coordinates to the center of your print bed
#speed: 120
#z_hop: 10                 # Move up 10mm
#z_hop_speed: 5


#####################################################################
#	QGL
#####################################################################

[quad_gantry_level]
gantry_corners:
   -60,-10
    360,370
##  Probe points
points:
   50,25
   50,225
   250,225
   250,25
speed: 200
horizontal_move_z: 15
retries: 10
retry_tolerance: 0.015
max_adjust: 20


#####################################################################
#	Bed Mesh
#####################################################################

[bed_mesh]
speed: 400
horizontal_move_z: 15
mesh_min: 40, 40
mesh_max: 260,260
probe_count: 5,5
move_check_distance: 10
split_delta_z: 0.010
fade_start: 0.26
fade_end: 5.0
algorithm: bicubic

move_check_distance: 5


#####################################################################
#	Firmware Retraction
#####################################################################

[firmware_retraction]
retract_length: 0.3
#   The length of filament (in mm) to retract when G10 is activated,
#   and to unretract when G11 is activated (but see
#   unretract_extra_length below). The default is 0 mm.
retract_speed: 30
#   The speed of retraction, in mm/s. The default is 20 mm/s.
unretract_extra_length: 0
#   The length (in mm) of *additional* filament to add when
#   unretracting.
unretract_speed: 30
#   The speed of unretraction, in mm/s. The default is 10 mm/s.


########################################
# EXP1 / EXP2 (display) pins
########################################
[board_pins]
aliases:
    # EXP1 header
    EXP1_10=<5V>, EXP1_9=<GND>,
    EXP1_8=PE7,   EXP1_7=PE15,
    EXP1_6=PD8,  EXP1_5=PD9,     # Slot in the socket on the other side
    EXP1_4=PD10,   EXP1_3=PE11,
    EXP1_2=PE10,   EXP1_1=PB2,

    # EXP2 header
    EXP2_10=<5V>, EXP2_9=<GND>,
    EXP2_8=<RST>, EXP2_7=PB11,
    EXP2_6=PA7,   EXP2_5=PE8,       # Slot in the socket on the other side
    EXP2_4=PA4,   EXP2_3=PE9,
    EXP2_2=PA5,   EXP2_1=PA6




